.listCard{
    display: flex;
}
.mycard {
    color: #6d5693;
    font-size: 18px;
}
.mycard:hover {
    background-color: #6d5693;
    color: white;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    transition: all 0.6s;
}
.mycard:hover .footerCard{
    content: "";
    opacity: 0;
    transition: all 0.8s;
}

/*circulo*/
.headercard {
    width: 90%;
    height: 200px;
    border-radius: 50%;
    background: #00a0cb;
    margin: 0 auto;
    margin-top: -100px;
}
.headercard .iconheaderc img {
    height: 70px;
    margin-top: 110px;
}
.headercard .iconheaderc {
    text-align: center;
}
.footerCard {
    background-color: #6d5693;
    color: white;
}
@media (max-width: 767px) {
    .mycard:active {
        background-color: #00a0cb;
        color: white;
    }
    .mycard:active .footerCard{
        color: #6d5693;
        content: "";
        opacity: 0;
        transition: all 0.8s;
    }      
}