.fondoTramites{
    position: relative;
    height: 360px;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-image: url("../images/gamc/tramites-gamc.jpg");
    background-repeat: no-repeat;
    /* box-shadow: inset 0 0 0 1000px rgb(152 66 104 / 70%);*/
}

.fondoTramites .infTramites{
    width: 400px;
    height: 300px;
    padding: 50px 20px 20px 60px;
    color: white;
    font-size: 18px;
}
.fondoTramites .infTramites .title {
    color: #eca554;
}

.fondoTramites .infTramites .icon {
    background-color: #6d5693;
    border-radius: 0% 50% 50% 0%;
}