.eye{
    position: relative;
    height: 200px;
    width: 200px;
    top: 0px;
    left: 250px;
    z-index: 1;
    margin-left: -200px;
}
.eye-lila {
    position: relative;
    height: 260px;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-image: url("../images/gamc/tramites-lila.png");
    background-repeat: no-repeat;
}
  
.heaven {
    position: initial;
    height: 300px;
    width: 300px;
    margin-left: 0px;
    z-index: -1;
}
.heaven-lila {
    height: 250px;
    /*width: 65%; */
    position: initial;
    margin-top: -260px;
    margin-left: 0px;
    z-index: -1;
}
.informacion {
    width: 50%;
    margin-left: auto;
    margin-right: 0;
    color: white;
}
.informacion .titulo{
    color: #faad59;
}
/* animacion imagenes */
.mydiv{ 
    animation: changeBg 9s infinite;
    height: 260px;
}
@keyframes changeBg{
   0%,100%  {background-image: url("../images/gamc/compu-redes.png");}
   25% {background-image: url("../images/gamc/compu-redes3.png");}
}