.listCard{
    display: flex;
}
.mycard:hover {
    background-color: #22bdd0;
    color: white;
    -webkit-transition-timing-function: linear;
    -moz-transition-timing-function: linear;
    -o-transition-timing-function: linear;
    transition-timing-function: linear;
    transition: all 0.6s;
}
.mycard:hover .footerCard{
    color: #22bdd0;
    content: "";
    opacity: 0;
    transition: all 0.8s;
}
/*medio circulo*/
.headercard {
    width: 100%;
    height: 100px;
    -moz-border-radius: 0 0 50% 50%;
    -webkit-border-radius: 0 0 50% 50%;
    border-radius: 0 0 50% 50%;
    background: #06b1c6;
}
.headercard .iconheaderc img {
    height: 80px;
    margin-top: 20px;
}

/*circulo*/
/*.headercard {
    width: 100%;
    height: 200px;
    margin-top: -90px;
    border-radius: 50%;
    background: #06b1c6;
}
.headercard .iconheaderc img {
    height: 100px;
    margin-top: 100px;
}*/

/*Con imagen*/
/*.headercard {
    background-image: url("../images/gamc/circulo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0px -10px;
}
.headercard .iconheaderc img {
    height: 100px;
    margin-top: 40px;
}*/
.headercard .iconheaderc {
    text-align: center;
}
.footerCard {
    background-color: #22bdd0;
    color: white;
}
@media (max-width: 767px) {
    .mycard:active {
        background-color: #22bdd0;
        color: white;
    }
    .mycard:active .footerCard{
        color: #22bdd0;
        content: "";
        opacity: 0;
        transition: all 0.8s;
    }      
}