
.cardSecre .headercs{
    text-align: center;
    color: #706F6F;
    font-size: 16px;
    margin: 10px;
    font-weight: bold;       
}

.cardSecre .triangulo-equilatero-bottom-left {
    width: 0;
    height: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid transparent;
    border-left: 50px solid #4FB9A8;
    border-bottom: 50px solid #4FB9A8;
    margin-top: 20px;
}

.cardSecre .diagonal {
    background-color: purple;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    padding: 10rem 20%;
}
.cardSecre .diagonalCS {
    background-color: #42A8C7;
}
