.footerCS {
    margin: 0 auto;
}
.footerCS .iconCS {
    width: 30px;
    height: 37px;
    border-radius: 50% 5px 5px 50%;
    background: #6d5693;
    margin-right: -19px;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: 10px;
}